
<div class="posts-list card">
    {{#foreach posts}}
    <div class="posts-list__item card__item">
        {{> "single-post" }}
    </div>
    {{/foreach}}
</div>

<div class="grid">
    <div class="grid__cell">
        {{pagination}}
    </div>
</div>