{{#if pagination}}
    <footer class="footer">
        {{pagination}}
    </footer>
{{/if}}    


{{#is "post" }}
<footer class="footer">
    {{#post}}
        <div class="pagination">
            <div class="pagination__controls">
                <div class="pagination__prev">
                    {{#prev_post}}
                        <a href="{{url}}" class="button"><i class="ti-angle-left"></i>Prev Post</a>
                    {{/prev_post}}
                </div>
                <span href="#" class="pagination__current"><b>{{title}}</b></span>
                <div class="pagination__next">
                    {{#next_post}}
                        <a href="{{url}}" class="button">Next Post <i class="ti-angle-right"></i></a>
                    {{/next_post}}
                </div>
            </div>
        </div>
    {{/post}}
</footer>
{{/is}}