{{#is "index"}}
    <h1 class="heading heading--super loud">{{@blog.title}}</h1>
    <h4 class="heading heading--medium quiet">
        {{@blog.description}}
    </h4> 
{{/is}}

{{#is "post"}}
    <h1 class="heading heading--super loud">{{{title}}}</h1>
    <h4 class="heading heading--medium quiet">
        
    </h4> 
{{/is}}