<div class="js-navigation navigation drawer drawer--right">
    <div class="navigation__header">
        <span class="navigation__title">
            Menu
        </span>
        <a class="js-menu-button button"><i class="ti-close"></i> close</a>
    </div>
    <ul class="menu">
        {{#foreach navigation}}
            <li class="menu__item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
                <a class="link link--secondary" href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
    <div class="drawer__body">
        <a class="button button--block button--medium subscribe" href="{{@blog.url}}/rss/"><i class="ti-rss"></i> Subscribe</a>
    </div>
</div>