<div class="pagination">
    <div class="pagination__controls">
        <div class="pagination__prev">
            {{#if prev}}
                <a href="{{page_url prev}}" class="button"><i class="ti-angle-left"></i>Prev Page</a>
            {{/if}}
        </div>
        <span href="#" class="pagination__current">Page <b>{{page}}</b> of {{pages}}</span>
        <div class="pagination__next">
            {{#if next}}
                <a href="{{page_url next}}" class="button">Next Page <i class="ti-angle-right"></i></a>
            {{/if}}
        </div>
    </div>
</div>