<div class="post-list">
    {{#foreach posts}}
        {{#if tags}}
            <div class="post-list__tags">
                <i class="ti-tag"></i>:&nbsp;&nbsp;
                {{#foreach tags}}
                <a href="{{url}}" title="{{name}}" class="highlight tag-{{id}}">
                    {{name}}
                </a>
                &nbsp;&nbsp;
                {{/foreach}}
            </div>
        {{/if}}
        <div class="post-list__item card">
            <div class="card__content">
                <div class="post-list__time">
                    <time class="post-date loud" datetime="{{date format='YYYY-MM-DD'}}">
                        {{date timeago="true"}}
                    </time>    
                </div>
                <div class="post-list__content">
                    <h3 class="heading heading--large">
                        {{{title}}}
                    </h3>
                    <p class="paragraph">
                        {{excerpt characters="25"}}... <a class="link read-more" href="{{url}}">READ MORE &raquo;</a>
                    </p>    
                </div>
                
            </div>
        </div>
    {{/foreach}}    
</div>
