<div class="{{post_class}}">
    <div class="post__header">
        <div class="grid grid--wrap grid--no-gutter">
            <div class="grid__cell grid__cell--width-50">
                {{#if tags}}
                    <div class="post-list__tags">
                        <i class="ti-tag"></i>:&nbsp;&nbsp;
                        {{#foreach tags}}
                            <a href="{{url}}" title="{{name}}" class="highlight tag-{{id}}">
                                {{name}}
                            </a>
                            &nbsp;&nbsp;
                        {{/foreach}}
                    </div>
                {{/if}}
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                    {{date timeago="true"}}
                </time>
            </div>
            <div class="grid__cell grid__cell--width-50">
                {{#author}}
                    <a href="{{url}}" class="post__author link">
                        <span>{{name}}</span>
                        {{#if image}}
                        <div class="author-thumbnail thumbnail" style="background-image: url({{image}});" alt="{{name}}"></div>
                        {{/if}}
                    </a>
                {{/author}}
            </div>
        </div>
    </div>
    <div class="post__body">
        {{#is "post"}}
            {{content}}
        {{/is}}
        {{#is "index"}}
            {{excerpt characters="50"}} <a class="read-more" href="{{url}}">&raquo;</a>
        {{/is}}
    </div>
</div>

