<nav class="top-navigation">
    <div class="top-navigation__logo">
        <div class="top-navigation__logo__link">
        </div>
    </div>
    <h3 class="heading heading--large top-navigation__title">
        <a href="{{@blog.url}}">{{@blog.title}}</a>  
    </h3>
    <div class="top-navigation__menu-button">
        <a class="js-menu-button button"><i class="ti-menu"></i> menu</a>
    </div>
</nav>