{{!< default}}

{{! Everything inside the #author tags pulls data from the author }}
<div class="site-wrapper">
    {{#author}}
        <header class="header">
            <section class="author-profile">
                <div class="author-profile__main">
                    {{#if image}}
                        <div class="author-profile__image">
                            <div class="image" style="background-image: url({{image}})">
                            </div>
                        </div>
                    {{/if}}
                    <h1 class="author-profile__name">{{name}}</h1>
                </div>
                {{#if bio}}
                    <p class="author-profile__bio">{{bio}}</p>
                {{/if}}
                <div class="author-profile__details">
                    {{#if location}}
                        <div class="author-profile__location">
                            <i class="ti-pin"></i>
                            <span>{{location}}</span>
                        </div>
                    {{/if}}
                    {{#if website}}
                        <div class="author-profile__link">
                            <i class="ti-world"></i>
                            <a href="{{website}}">{{website}}</a>
                        </div>
                    {{/if}}
                </div>
            </section>
        </header>
        <div class="author-profile__stats">
            <i class="ti-info-alt"></i> 
            {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
        </div>
    {{/author}}
    <main class="content" role="main">
        {{> "post-list"}}        
    </main>
</div>