<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles }}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "styles/vendors/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "styles/fonts/themify-icons/themify-icons.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}" />
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <!-- Top Menu Navigation -->
    {{> "top-navigation"}}
    {{navigation}}
    
    <!-- Body Content -->
    {{{body}}}

    {{> "footer"}}  

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="{{asset "scripts/vendors/jquery-2.2.1.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "scripts/main.js"}}"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
