{{!< default}}

<div class="site-wrapper">
    <header class="header">
        {{> "header"}}   
    </header>
    <main class="content" role="main">
        {{> "post-list"}}        
    </main>
</div>