{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}
<div class="grid {{post_class}}">
    <div class="grid__cell">
        <div class="post__header">
            {{#if tags}}
                <div class="post-list__tags">
                    <i class="ti-tag"></i>:&nbsp;&nbsp;
                    {{#foreach tags}}
                        <a href="{{url}}" title="{{name}}" class="highlight tag-{{id}}">
                            {{name}}
                        </a>
                        &nbsp;&nbsp;
                    {{/foreach}}
                </div>
            {{/if}}
            <div class="grid grid--wrap grid--no-gutter">
                <div class="grid__cell grid__cell--width-50">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                        {{date timeago="true"}}
                    </time>
                </div>
            </div>
        </div>
        <div class="post__body">
            <div class="grid grid--no-gutter">
                <div class="grid__cell">
                    {{content}}
                </div>
            </div>
        </div>

    </div>
</div>
{{/post}}
