{{!< default}}

{{#post}}
<div class="site-wrapper">
    <header class="header">
        {{> "header"}}   
    </header>
    <main class="content" role="main">
        {{> "single-post" }}    
    </main>
    <footer class="footer">
        
    </footer>
</div>
{{/post}}
