.footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $navigation-height;
    background-color: $color-white;
    border-top: 1px solid $border-color;
}


// .header__image {
//     width: 100%;
//     height: 350px;
//     background-size: cover;
//     background-position: top center;
//     background-repeat: no-repeat;
// }