.header {
    width: 100%;
    margin: $spacing-super 0;
    
    .heading {
        padding: 0;
    }
    
    .heading--super {
        font-weight: bold;
        line-height: 1.2;
    }
}


// .header__image {
//     width: 100%;
//     height: 350px;
//     background-size: cover;
//     background-position: top center;
//     background-repeat: no-repeat;
// }