@import "../base/mixins/_vars";

.navigation {
    width: 220px;
    border-left: 1px solid $border-color;
    
    .navigation__header {
        padding: $spacing-medium;
        height: $navigation-height;
        text-align: right;
        
    }
    
    .navigation__title {
        @include text-size--large;
        
        float: left;
        font-weight: $text-font-weight-heavy;
        line-height: 1.2;
    }
    
    .menu {
        padding: $spacing-medium;
        border: none;
    }
    
    .menu__item {
        @include text-size--large;
        
        padding: 0;
        border: none;
        
        &:hover {
            cursor: initial !important;
        }
    }
    
    .subscribe {
        text-align: center;
    }
}