@import "../base/mixins/_vars";

.top-navigation {
    width: 100%;
    height: $navigation-height;
    padding: $spacing-medium;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
}

.top-navigation__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid $color-black;
    cursor: pointer;
    
    &:hover, &:active {
        .top-navigation__logo__link {
            opacity: 1;
            width: 25px;
            height: 25px;
        }
    }
}

.top-navigation__logo__link {
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: $color-black;
    border-radius: 50%;
    transition: all 0.25s ease-out;
}

.top-navigation__title {
    padding: 0 $spacing-small !important;
    flex: 1;
    font-weight: $text-font-weight-heavy !important;
    
    a {
        text-decoration: none;
        color: $color-black;
    }
}