@import "../base/mixins/_vars";

.author-profile__main {
    display: flex;
    align-items: center;
    
    .image {
        width: 75px;
        height: 75px;
        margin-right: $spacing-large;
        border-radius: 50%;
        background-position: center;
        background-size: 100%;
    }
}

.author-profile__stats {
    margin-bottom: $spacing-medium;
    font-weight: bold;
}