@import "../base/mixins/_vars";

.pagination{
   
}

.pagination__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    
    > * {
 
        flex: 1;
    }
}

.pagination__prev {
    text-align: left;
}

.pagination__next {
    text-align: right;
}