.post-list {

}

.post-list__item {
    margin-bottom: $spacing-xlarge;
    
    .card__content {
        display: flex;
        padding: 0;
    }
}

.post-list__time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    padding: $spacing-medium;
    border-right: 1px solid $border-color;
    text-align: center;
    line-height: 1.2;
}

.post-list__content {
    flex: 1;
    padding: $spacing-medium;
    
    .heading {
        padding: 0;
        margin: 0;
        font-weight: bold;
        line-height: 1.2;
    }
    
    .paragraph {
        
    }
}

.post-list__tags {
    margin-bottom: $spacing-small;
    
    i, a {
        vertical-align: middle;
    }
    
    i {
        @include text-size--medium;
    }
}