@import "../base/mixins/_vars";

.post {
 
   time {
       vertical-align: middle;
   }
   
   & > .grid__cell {
       align-content: center;
       padding-top: $spacing-medium;
       padding-bottom: $spacing-medium;
   }
   
   .heading {
       font-weight: bold;
   }
}

.post__header {
    margin-bottom: $spacing-medium;
}

.post__author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    span {
        padding-right: $spacing-medium;
    }
    
    .author-thumbnail {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.post-template {
    .ti-tag {
        color: black;
    }

    .tag__close {
        top: 9px;
    }
}

