html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

hr {
  margin: 1.5em;
  border: 0;
  border-top: 1px solid #ebecee; }

i {
  font-size: 0.8em; }

.post h1, .page h1 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 1em 0 0.5em;
  font-size: 4em; }

.post h2, .page h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 1em 0 0.5em;
  font-size: 3em; }

.post h3, .page h3 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 1em 0 0.5em;
  font-size: 2em; }

.post h4, .page h4 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 1em 0 0.5em;
  font-size: 1.5em; }

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  padding: 0; }

.post pre, .page pre {
  background-color: #F6ED30;
  color: #101411;
  padding: 0.3em 0.3em 0.1em;
  margin: -0.1em;
  display: inline;
  background-color: #ebecee;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-weight: normal;
  display: inline-block;
  padding: 1em; }

.post blockquote, .page blockquote {
  display: block;
  margin: 0;
  padding: 1em 1.5em;
  border-left: 5px solid #D3D4D8;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif; }

.post ul, .post ol, .page ul, .page ol {
  display: block;
  margin: 0;
  padding: 0 0 0 1em;
  list-style-position: outside; }

.post li, .page li {
  padding: 0; }

.post code, .page code {
  background-color: #ebecee;
  color: #CC2C1E;
  padding: 0 0.3em; }

.center-block {
  position: relative; }

.center-block__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }

.center-block__content--vertical {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.center-block__content--horizontal {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.grid--wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.grid--top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.grid--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.grid--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.grid--no-gutter .grid__cell {
  padding-left: 0;
  padding-right: 0; }

.grid__cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
  padding-right: 1em; }

.grid__cell--top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.grid__cell--center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.grid__cell--bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.grid__cell--no-gutter {
  padding-left: 0;
  padding-right: 0; }

.grid__cell--width-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 5%;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  max-width: 5%; }

.grid__cell--width-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%; }

.grid__cell--width-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  max-width: 15%; }

.grid__cell--width-20 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%; }

.grid__cell--width-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

.grid__cell--width-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%; }

.grid__cell--width-33 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%; }

.grid__cell--width-35 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35%;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%; }

.grid__cell--width-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%; }

.grid__cell--width-45 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%; }

.grid__cell--width-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.grid__cell--width-55 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55%;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  max-width: 55%; }

.grid__cell--width-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%; }

.grid__cell--width-65 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65%;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%; }

.grid__cell--width-66 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666%;
      -ms-flex: 0 0 66.6666%;
          flex: 0 0 66.6666%;
  max-width: 66.6666%; }

.grid__cell--width-70 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%; }

.grid__cell--width-75 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }

.grid__cell--width-80 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%; }

.grid__cell--width-85 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 85%;
      -ms-flex: 0 0 85%;
          flex: 0 0 85%;
  max-width: 85%; }

.grid__cell--width-90 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%; }

.grid__cell--width-95 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 95%;
      -ms-flex: 0 0 95%;
          flex: 0 0 95%;
  max-width: 95%; }

.grid__cell--width-100 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.grid__cell--offset-5 {
  margin-left: 5%; }

.grid__cell--offset-10 {
  margin-left: 10%; }

.grid__cell--offset-15 {
  margin-left: 15%; }

.grid__cell--offset-20 {
  margin-left: 20%; }

.grid__cell--offset-25 {
  margin-left: 25%; }

.grid__cell--offset-30 {
  margin-left: 30%; }

.grid__cell--offset-33 {
  margin-left: 33.3333%; }

.grid__cell--offset-35 {
  margin-left: 35%; }

.grid__cell--offset-40 {
  margin-left: 40%; }

.grid__cell--offset-45 {
  margin-left: 45%; }

.grid__cell--offset-50 {
  margin-left: 50%; }

.grid__cell--offset-55 {
  margin-left: 55%; }

.grid__cell--offset-60 {
  margin-left: 60%; }

.grid__cell--offset-65 {
  margin-left: 65%; }

.grid__cell--offset-66 {
  margin-left: 66.6666%; }

.grid__cell--offset-70 {
  margin-left: 70%; }

.grid__cell--offset-75 {
  margin-left: 75%; }

.grid__cell--offset-80 {
  margin-left: 80%; }

.grid__cell--offset-85 {
  margin-left: 85%; }

.grid__cell--offset-90 {
  margin-left: 90%; }

.grid__cell--offset-95 {
  margin-left: 95%; }

@media (max-width: 30em) {
  .grid.grid--small-fit > .grid__cell:not([class*="grid__cell--width"]) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .grid.grid--small-full {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .grid.grid--small-full > .grid__cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0; } }

@media (min-width: 30em) and (max-width: 47.99em) {
  .grid.grid--medium-fit > .grid__cell:not([class*="grid__cell--width"]) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .grid.grid--medium-full {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .grid.grid--medium-full > .grid__cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0; } }

@media (min-width: 64em) {
  .grid.grid--large-fit > .grid__cell:not([class*="grid__cell--width"]) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .grid.grid--large-full {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .grid.grid--large-full > .grid__cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0; } }

.container {
  margin: auto; }

.container--xsmall {
  max-width: 20em; }

.container--small {
  max-width: 30em; }

.container--medium {
  max-width: 48em; }

.container--large {
  max-width: 64em; }

.container--xlarge {
  max-width: 78em; }

.container--super {
  max-width: 116em; }

body {
  font-family: "Source Sans Pro", -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: normal;
  color: #101411;
  line-height: 1.55;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.mono {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.highlight {
  background-color: #F6ED30;
  color: #101411;
  padding: 0.3em 0.3em 0.1em;
  margin: -0.1em; }

.quiet {
  color: #50535B; }

.loud {
  font-weight: bold; }

.abbr[title] {
  cursor: help;
  border-bottom: 1px dashed #bbbcc2; }

.pre {
  margin: 0; }

.code {
  background-color: #F6ED30;
  color: #101411;
  padding: 0.3em 0.3em 0.1em;
  margin: -0.1em;
  display: inline;
  background-color: #ebecee;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-weight: normal; }

.code--multiline {
  display: block;
  white-space: pre;
  padding: 0.5em 1em;
  overflow-x: auto;
  border-radius: 4px; }

.kbd {
  background-color: #F6ED30;
  color: #101411;
  padding: 0.3em 0.3em 0.1em;
  margin: -0.1em;
  display: inline;
  background-color: #ebecee;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-weight: normal;
  background-color: #42A5F5;
  color: #FFFFFF;
  border-radius: 4px;
  border-bottom: 2px solid #0b78d0; }

.blockquote {
  display: block;
  margin: 0;
  padding: 1em 1.5em;
  border-left: 5px solid #D3D4D8;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif; }

.blockquote__body {
  display: block;
  padding: 0.5em 0;
  margin: 0;
  font-style: normal;
  font-size: 1.3em; }

.blockquote__footer {
  display: block;
  padding: 0.5em 0;
  margin: 0;
  font-style: normal;
  color: #50535B;
  font-style: italic; }

p, .paragraph {
  display: block;
  padding: 0.5em 0;
  margin: 0;
  font-style: normal; }

.badge {
  display: inline-block;
  padding: 0.3em 0.5em;
  margin: 0;
  background-color: #50535B;
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 4px; }

.badge--primary {
  background-color: #42A5F5;
  color: #FFFFFF; }

.badge--secondary {
  background-color: #50535B;
  color: #FFFFFF; }

.badge--success {
  background-color: #66BB6A;
  color: #FFFFFF; }

.badge--error {
  background-color: #CC2C1E;
  color: #FFFFFF; }

.heading {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 1em 0 0.5em; }

.heading--super {
  font-size: 4em; }

.heading--xlarge {
  font-size: 3em; }

.heading--large {
  font-size: 2em; }

.heading--medium {
  font-size: 1.5em; }

.heading--small {
  font-size: 1.25em; }

.heading--xsmall {
  font-size: 1.05em; }

.heading__sub {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: 1em 0 0.5em;
  color: #50535B;
  padding: 0.5em 0;
  font-size: 0.8em; }

.address {
  display: block;
  padding: 0.5em 0;
  margin: 0;
  font-style: normal; }

.address__heading {
  display: block;
  font-weight: bold; }

.image {
  display: block;
  max-width: 100%;
  height: auto; }

.table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0; }

.table__caption {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #50535B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  font-size: 0.9em;
  text-align: left; }

.table__row, thead, tbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.table--striped :not(.table__row--heading).table__row:nth-of-type(odd) {
  background-color: white; }

.table__cell {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  overflow: auto; }

.table__row--heading .table__cell {
  font-size: 1.05em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  background-color: #ebecee;
  border-bottom: 1px solid #D3D4D8; }

.table--striped .table__row--heading .table__cell {
  background-color: initial; }

.table--clickable :not(.table__row--heading).table__row:hover .table__cell,
.table__row--clickable:hover .table__cell {
  color: #42A5F5;
  cursor: pointer; }

.table__row--inactive {
  color: #50535B;
  cursor: default; }

.table--clickable .table__row--inactive:hover .table__cell,
.table__row--clickable.table__row--inactive:hover .table__cell {
  color: #50535B;
  cursor: not-allowed; }

.table--condensed {
  font-size: 0.9em; }

.table--condensed .table__cell {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em; }

.card {
  padding: 0;
  list-style: none;
  display: block;
  border: 1px solid #ebecee;
  border-radius: 4px; }

.card + .card {
  margin-top: 1em; }

.card .paragraph:first-child,
.card p:first-child,
.card .paragraph:last-child,
.card p:last-child {
  padding: 0; }

.card__content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.card__content--divider {
  background-color: #bbbcc2;
  color: #FFFFFF;
  font-weight: bold; }

.card__item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.card__item:not(:last-child) {
  border-bottom: 1px solid #ebecee; }

.card__item--divider {
  background-color: #bbbcc2;
  color: #FFFFFF;
  font-weight: bold; }

.card--high {
  box-shadow: 0 5px 5px -2px rgba(16, 20, 17, 0.4); }

.card--higher {
  box-shadow: 0 10px 12px 0 rgba(16, 20, 17, 0.4); }

.card--highest {
  box-shadow: 0 13px 16px 3px rgba(16, 20, 17, 0.4); }

.link {
  color: #1690f3;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer; }

.link:visited {
  color: #0b78d0; }

.link:hover {
  color: #42a5f5; }

.link:active {
  color: #42a5f5; }

.link:hover {
  text-decoration: underline; }

.link--primary {
  color: #42A5F5;
  background-color: transparent; }

.link--primary:visited {
  color: #1690f3; }

.link--primary:hover {
  color: #6ebaf7; }

.link--primary:active {
  color: #6ebaf7; }

.link--secondary {
  color: #50535B;
  background-color: transparent; }

.link--secondary:visited {
  color: #3b3d43; }

.link--secondary:hover {
  color: #656973; }

.link--secondary:active {
  color: #656973; }

.link--success {
  color: #66BB6A;
  background-color: transparent; }

.link--success:visited {
  color: #4ba84f; }

.link--success:hover {
  color: #86c989; }

.link--success:active {
  color: #86c989; }

.link--error {
  color: #CC2C1E;
  background-color: transparent; }

.link--error:visited {
  color: #a42318; }

.link--error:hover {
  color: #e24436; }

.link--error:active {
  color: #e24436; }

.button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  outline: 0;
  display: inline;
  margin: 0;
  max-width: 100%;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #50535B;
  color: #FFFFFF; }

.button:hover, .button:focus {
  background-color: #656973; }

.button:active, .button .button--active {
  background-color: #3b3d43; }

.button:disabled {
  color: #50535B;
  background-color: white;
  font-style: italic;
  cursor: not-allowed; }

.button--close {
  background-color: transparent;
  color: inherit;
  outline: 0;
  position: absolute;
  right: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

.button--close:hover, .button--close:focus {
  background-color: rgba(23, 23, 23, 0); }

.button--close:active, .button--close .button--active {
  background-color: transparent; }

.button--block {
  display: inline-block;
  width: 100%; }

.button--rounded {
  border-radius: 30em; }

.button--super {
  font-size: 3em; }

.button--xlarge {
  font-size: 2em; }

.button--large {
  font-size: 1.5em; }

.button--medium {
  font-size: 1em; }

.button--small {
  font-size: 0.9em; }

.button--xsmall {
  font-size: 0.7em; }

.button--primary {
  background-color: #42A5F5;
  color: #FFFFFF; }

.button--primary:hover, .button--primary:focus {
  background-color: #6ebaf7; }

.button--primary:active, .button--primary .button--active {
  background-color: #1690f3; }

.button--secondary {
  background-color: #50535B;
  color: #FFFFFF; }

.button--secondary:hover, .button--secondary:focus {
  background-color: #656973; }

.button--secondary:active, .button--secondary .button--active {
  background-color: #3b3d43; }

.button--success {
  background-color: #66BB6A;
  color: #FFFFFF; }

.button--success:hover, .button--success:focus {
  background-color: #86c989; }

.button--success:active, .button--success .button--active {
  background-color: #4ba84f; }

.button--error {
  background-color: #CC2C1E;
  color: #FFFFFF; }

.button--error:hover, .button--error:focus {
  background-color: #e24436; }

.button--error:active, .button--error .button--active {
  background-color: #a42318; }

.button--ghost {
  background-color: transparent;
  border: 2px solid #50535B;
  color: #50535B; }

.button--ghost:hover, .button--ghost:focus {
  background-color: #50535B;
  color: #FFFFFF; }

.button--ghost:active, .button--ghost .button--active {
  background-color: #3b3d43;
  border: 2px solid #3b3d43;
  color: #FFFFFF; }

.button--ghost-primary {
  background-color: transparent;
  border: 2px solid #42A5F5;
  color: #42A5F5; }

.button--ghost-primary:hover, .button--ghost-primary:focus {
  background-color: #42A5F5;
  color: #FFFFFF; }

.button--ghost-primary:active, .button--ghost-primary .button--active {
  background-color: #1690f3;
  border: 2px solid #1690f3;
  color: #FFFFFF; }

.button--ghost-secondary {
  background-color: transparent;
  border: 2px solid #50535B;
  color: #50535B; }

.button--ghost-secondary:hover, .button--ghost-secondary:focus {
  background-color: #50535B;
  color: #FFFFFF; }

.button--ghost-secondary:active, .button--ghost-secondary .button--active {
  background-color: #3b3d43;
  border: 2px solid #3b3d43;
  color: #FFFFFF; }

.button--ghost-success {
  background-color: transparent;
  border: 2px solid #66BB6A;
  color: #66BB6A; }

.button--ghost-success:hover, .button--ghost-success:focus {
  background-color: #66BB6A;
  color: #FFFFFF; }

.button--ghost-success:active, .button--ghost-success .button--active {
  background-color: #4ba84f;
  border: 2px solid #4ba84f;
  color: #FFFFFF; }

.button--ghost-error {
  background-color: transparent;
  border: 2px solid #CC2C1E;
  color: #CC2C1E; }

.button--ghost-error:hover, .button--ghost-error:focus {
  background-color: #CC2C1E;
  color: #FFFFFF; }

.button--ghost-error:active, .button--ghost-error .button--active {
  background-color: #a42318;
  border: 2px solid #a42318;
  color: #FFFFFF; }

.button-group {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.button-group .button {
  border-radius: 0; }

.button-group .button:first-child {
  border-radius: 4px 0 0 4px; }

.button-group .button:last-child {
  border-radius: 0 4px 4px 0; }

.button__icon-left {
  padding-right: 0.5em; }

.button__icon-right {
  padding-left: 0.5em; }

.list {
  display: block;
  margin: 0;
  padding: 0 0 0 1em;
  list-style-position: outside; }

.list__item {
  padding: 0; }

.list__item--unstyled {
  list-style: none; }

.list--unstyled {
  padding: 0;
  list-style: none; }

.list--unstyled .list, .list--unstyled .list--unstyled {
  padding: 0 0 0 1em; }

.list--nested {
  padding: 0 0 0 1em; }

.list--ordered {
  padding: 0;
  list-style: none;
  counter-reset: ordered; }

.list--ordered .list__item:before {
  counter-increment: ordered;
  content: counters(ordered, ".") " ";
  padding: 0 0.5em 0 0; }

.list--ordered .list--ordered {
  padding: 0 0 0 1em; }

.list--inline {
  padding: 0; }

.list--inline .list--inline {
  padding: 0; }

.list--inline .list__item {
  display: inline-block;
  padding-right: 1em;
  width: auto; }

.list--inline:not(.list--unstyled) .list__item:before {
  content: "\2022";
  padding: 0 0.5em 0 0; }

.menu {
  padding: 0;
  list-style: none;
  padding: 0;
  list-style: none;
  display: block;
  border: 1px solid #ebecee;
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-top: 0.3em;
  background-color: #FFFFFF;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  max-height: 280px;
  z-index: 100; }

.menu__item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer; }

.menu__item:not(:last-child) {
  border-bottom: 1px solid #ebecee; }

.menu__item:not(.menu__item--disabled):not(.menu__item--divider):hover {
  cursor: pointer;
  background-color: white; }

.menu__item--hover {
  cursor: pointer;
  background-color: white; }

.menu__item--disabled {
  color: #50535B;
  cursor: not-allowed; }

.menu__item--divider {
  color: #50535B;
  font-weight: bold; }

.menu__item--active {
  background-color: white;
  font-weight: bold; }

.menu--high {
  box-shadow: 0 5px 5px -2px rgba(16, 20, 17, 0.4); }

.menu--higher {
  box-shadow: 0 10px 12px 0 rgba(16, 20, 17, 0.4); }

.menu--highest {
  box-shadow: 0 13px 16px 3px rgba(16, 20, 17, 0.4); }

.tabs {
  display: block; }

.tabs__headings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  cursor: pointer; }

.tab-heading {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  box-shadow: 0 -0.2em 0 0 white inset; }

.tab-heading--active {
  box-shadow: 0 -0.2em 0 0 #50535B inset; }

.tabs--primary .tab-heading--active {
  box-shadow: 0 -0.2em 0 0 #42A5F5 inset; }

.tabs--secondary .tab-heading--active {
  box-shadow: 0 -0.2em 0 0 #50535B inset; }

.tabs--error .tab-heading--active {
  box-shadow: 0 -0.2em 0 0 #CC2C1E inset; }

.tabs--success .tab-heading--active {
  box-shadow: 0 -0.2em 0 0 #66BB6A inset; }

.tab-heading--disabled {
  color: #50535B;
  cursor: not-allowed; }

.tabs__tab {
  display: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em; }

.tabs__tab--active {
  display: block; }

.label {
  display: block;
  width: 100%; }

.label[for] {
  display: block;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer; }

.field {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: block;
  width: 100%;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
  background-color: #FFFFFF;
  border: 1px solid #ebecee;
  border-radius: 4px;
  box-shadow: 0 3px 3px -3px #D3D4D8 inset;
  resize: vertical;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.label__field {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: block;
  width: 100%;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
  background-color: #FFFFFF;
  border: 1px solid #ebecee;
  border-radius: 4px;
  box-shadow: 0 3px 3px -3px #D3D4D8 inset;
  resize: vertical;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 0.5em; }

.field--error {
  border: 1px solid #CC2C1E;
  border-left-width: 3px;
  color: #CC2C1E; }

.field--success {
  border: 1px solid #66BB6A;
  border-left-width: 3px; }

.field--disabled, .field:disabled {
  color: #50535B;
  cursor: not-allowed;
  background-color: white;
  border: 1px solid #ebecee; }

.field--super {
  font-size: 3em; }

.field--xlarge {
  font-size: 2em; }

.field--large {
  font-size: 1.5em; }

.field--medium {
  font-size: 1em; }

.field--small {
  font-size: 0.9em; }

.field--xsmall {
  font-size: 0.7em; }

.choice {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.choice--error {
  color: #CC2C1E; }

.choice--success {
  color: #66BB6A; }

.choice--disabled, .choice:disabled {
  color: #50535B;
  cursor: not-allowed; }

.choice--super {
  font-size: 3em; }

.choice--xlarge {
  font-size: 2em; }

.choice--large {
  font-size: 1.5em; }

.choice--medium {
  font-size: 1em; }

.choice--small {
  font-size: 0.9em; }

.choice--xsmall {
  font-size: 0.7em; }

select.choice {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: block;
  width: 100%;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
  background-color: #FFFFFF;
  border: 1px solid #ebecee;
  border-radius: 4px;
  box-shadow: 0 3px 3px -3px #D3D4D8 inset;
  resize: vertical;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

select:not([multiple]).choice {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  appearance: menulist;
  height: 2.5em; }

select:not([multiple]).choice--super {
  font-size: 3em; }

select:not([multiple]).choice--xlarge {
  font-size: 2em; }

select:not([multiple]).choice--large {
  font-size: 1.5em; }

select:not([multiple]).choice--medium {
  font-size: 1em; }

select:not([multiple]).choice--small {
  font-size: 0.9em; }

select:not([multiple]).choice--xsmall {
  font-size: 0.7em; }

select.choice--error {
  border: 1px solid #CC2C1E;
  border-left-width: 3px;
  color: #CC2C1E; }

select.choice--success {
  border: 1px solid #66BB6A;
  border-left-width: 3px; }

select.choice--disabled, select.choice:disabled {
  color: #50535B;
  cursor: not-allowed;
  background-color: white;
  border: 1px solid #ebecee; }

.choice input {
  margin-right: 0.1em;
  font-size: 2em; }

.choice input:disabled {
  color: #50535B;
  cursor: not-allowed; }

.input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.input-group .field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%; }

.input-group .field:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-right: 0;
  border-left: 0; }

.input-group .field:first-child {
  border-radius: 4px 0 0 4px;
  border-right: 0; }

.input-group .field:last-child {
  border-radius: 0 4px 4px 0;
  border-left: 0; }

.input-group .button:first-child {
  border-radius: 4px 0 0 4px;
  border-width: 1px; }

.input-group .button:last-child {
  border-radius: 0 4px 4px 0;
  border-width: 1px; }

.field-group {
  display: block; }

.field-group .field:not(:first-child) {
  border-top: 0; }

.field-group .field:not(:first-child):not(:last-child) {
  border-radius: 0; }

.field-group .field:first-child {
  border-radius: 4px 4px 0 0; }

.field-group .field:last-child {
  border-radius: 0 0 4px 4px; }

.field-group-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.field-group-inline .field:not(:first-child) {
  border-left: 0; }

.field-group-inline .field:not(:first-child):not(:last-child) {
  border-radius: 0; }

.field-group-inline .field:first-child {
  border-radius: 4px 0 0 4px; }

.field-group-inline .field:last-child {
  border-radius: 0 4px 4px 0; }

.fieldset {
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0.5em 0; }

.fieldset.list {
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0.5em 0; }

.fieldset__legend {
  display: block;
  width: 100%;
  padding-top: 0.3em;
  padding-bottom: 0.3em; }

.fieldset--disabled .field, .fieldset:disabled .field {
  color: #50535B;
  cursor: not-allowed;
  background-color: white;
  border: 1px solid #ebecee; }

.fieldset--disabled .choice, .fieldset:disabled .choice {
  color: #50535B;
  cursor: not-allowed; }

.form-element {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.toggle {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  width: 60px;
  height: 20px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.toggle__wrapper {
  position: absolute;
  cursor: pointer;
  width: auto;
  min-height: 1em;
  padding-left: 50px; }

.toggle__wrapper input:not(:checked) + .toggle__track {
  background-color: white; }

.toggle__wrapper input:not(:checked) + .toggle__track .toggle__handle {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.toggle__wrapper input:disabled + .toggle__track {
  background-color: white;
  cursor: not-allowed; }

.toggle__wrapper input:disabled + .toggle__track .toggle__handle {
  background-color: white;
  cursor: not-allowed; }

.toggle--primary .toggle__track {
  background-color: #42A5F5; }

.toggle--secondary .toggle__track {
  background-color: #50535B; }

.toggle--success .toggle__track {
  background-color: #66BB6A; }

.toggle--error .toggle__track {
  background-color: #CC2C1E; }

.toggle input {
  display: none; }

.toggle__track {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 10px;
  margin-top: -5px;
  background-color: #50535B;
  border-radius: 30em; }

.toggle__handle {
  position: absolute;
  top: -5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 30em;
  box-shadow: 0 1px 4px -1px #101411;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.toggle--right .toggle__wrapper {
  padding-right: 50px;
  padding-left: 0; }

.toggle--right .toggle__track {
  left: auto; }

.tags {
  position: relative;
  width: 100%;
  text-align: left; }

.tags .menu {
  position: absolute;
  width: 100%; }

.tags__container {
  display: inline-block;
  max-width: 70%;
  padding-right: 0.3em; }

.tag {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-right: 1.5em;
  position: relative;
  margin: 0.1em;
  text-transform: none; }

.tag__close {
  position: absolute;
  right: 5px;
  top: 7px;
  color: #ebecee; }

.tags__field-container {
  position: absolute;
  width: 30%;
  display: inline-block;
  cursor: pointer; }

.range {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  outline: 0;
  -webkit-appearance: none;
  width: 100%; }

.range:not(:disabled)::-webkit-slider-runnable-track {
  background-color: #50535B; }

.range:not(:disabled)::-moz-range-track {
  background-color: #50535B; }

.range:not(:disabled)::-ms-track {
  background-color: #50535B; }

.range--primary:not(:disabled)::-webkit-slider-runnable-track {
  background-color: #42A5F5; }

.range--primary:not(:disabled)::-moz-range-track {
  background-color: #42A5F5; }

.range--primary:not(:disabled)::-ms-track {
  background-color: #42A5F5; }

.range--secondary:not(:disabled)::-webkit-slider-runnable-track {
  background-color: #50535B; }

.range--secondary:not(:disabled)::-moz-range-track {
  background-color: #50535B; }

.range--secondary:not(:disabled)::-ms-track {
  background-color: #50535B; }

.range--success:not(:disabled)::-webkit-slider-runnable-track {
  background-color: #66BB6A; }

.range--success:not(:disabled)::-moz-range-track {
  background-color: #66BB6A; }

.range--success:not(:disabled)::-ms-track {
  background-color: #66BB6A; }

.range--error:not(:disabled)::-webkit-slider-runnable-track {
  background-color: #CC2C1E; }

.range--error:not(:disabled)::-moz-range-track {
  background-color: #CC2C1E; }

.range--error:not(:disabled)::-ms-track {
  background-color: #CC2C1E; }

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  border-radius: 30em;
  border: 0;
  box-shadow: none;
  cursor: pointer; }

.range::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  margin-top: -5px;
  border: 0;
  background-color: #FFFFFF;
  border-radius: 30em;
  box-shadow: 0 1px 4px -1px #101411;
  cursor: pointer;
  -webkit-appearance: none; }

.range::-moz-range-track {
  width: 100%;
  height: 10px;
  border-radius: 30em;
  border: 0;
  box-shadow: none;
  cursor: pointer; }

.range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  margin-top: -5px;
  border: 0;
  background-color: #FFFFFF;
  border-radius: 30em;
  box-shadow: 0 1px 4px -1px #101411;
  cursor: pointer; }

.range::-ms-track {
  width: 100%;
  height: 10px;
  border-radius: 30em;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent; }

.range::-ms-fill-lower, .range::-ms-fill-upper {
  background-color: #42A5F5;
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.range::-ms-thumb {
  height: 20px;
  width: 20px;
  margin-top: -5px;
  border: 0;
  background-color: #FFFFFF;
  border-radius: 30em;
  box-shadow: 0 1px 4px -1px #101411;
  cursor: pointer; }

.range:not(:disabled):active::-webkit-slider-thumb {
  -webkit-transform: scale(1.4);
          transform: scale(1.4); }

.range:not(:disabled):active::-moz-range-thumb {
  transform: scale(1.4); }

.range:not(:disabled):active::-ms-thumb {
  transform: scale(1.4); }

.range:disabled::-webkit-slider-thumb {
  background-color: white;
  cursor: not-allowed; }

.range:disabled::-webkit-slider-runnable-track {
  background-color: white;
  cursor: not-allowed; }

.range:disabled::-moz-range-thumb {
  background-color: white;
  cursor: not-allowed; }

.range:disabled::-moz-range-track {
  background-color: white;
  cursor: not-allowed; }

.range:disabled::-ms-thumb {
  background-color: white;
  cursor: not-allowed; }

.range:disabled::-ms-track {
  background-color: white;
  cursor: not-allowed; }

.pagination {
  display: block;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center; }

.pagination__controls {
  display: inline-block;
  text-align: center; }

.pagination__controls--backward {
  float: left;
  text-align: left; }

.pagination__controls--forward {
  float: right;
  text-align: right; }

.pagination__control {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  outline: 0;
  display: inline;
  margin: 0;
  max-width: 100%;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #50535B;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #D3D4D8;
  color: #D3D4D8;
  border-radius: 30em;
  min-width: 2.4em; }

.pagination__control:hover, .pagination__control:focus {
  background-color: #656973; }

.pagination__control:active, .pagination__control .button--active {
  background-color: #3b3d43; }

.pagination__control:disabled {
  color: #50535B;
  background-color: white;
  font-style: italic;
  cursor: not-allowed; }

.pagination__control:hover, .pagination__control:focus {
  background-color: #D3D4D8;
  color: #FFFFFF; }

.pagination__control:active, .pagination__control .button--active {
  background-color: #bbbcc2;
  border: 2px solid #bbbcc2;
  color: #FFFFFF; }

.pagination__page {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  outline: 0;
  display: inline;
  margin: 0;
  max-width: 100%;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #50535B;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #42A5F5;
  color: #42A5F5;
  border-radius: 30em;
  min-width: 2.4em; }

.pagination__page:hover, .pagination__page:focus {
  background-color: #656973; }

.pagination__page:active, .pagination__page .button--active {
  background-color: #3b3d43; }

.pagination__page:disabled {
  color: #50535B;
  background-color: white;
  font-style: italic;
  cursor: not-allowed; }

.pagination__page:hover, .pagination__page:focus {
  background-color: #42A5F5;
  color: #FFFFFF; }

.pagination__page:active, .pagination__page .button--active {
  background-color: #1690f3;
  border: 2px solid #1690f3;
  color: #FFFFFF; }

.pagination__page--current {
  background-color: #42A5F5;
  color: #FFFFFF; }

.pagination__ellipsis {
  padding-left: 1em;
  padding-right: 1em; }

.overlay {
  background-color: rgba(16, 20, 17, 0.8);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 400; }

.overlay--fullpage {
  position: fixed; }

.overlay--transparent {
  background-color: transparent; }

.overlay--dismissable {
  cursor: pointer; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  display: block;
  width: 80%;
  background-color: #FFFFFF;
  border-radius: 4px;
  z-index: 500;
  overflow: hidden; }

.modal__header {
  position: relative;
  text-align: center; }

.modal__header .button--close {
  top: .7em; }

.modal__body {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em; }

.modal__footer {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em; }

.modal__footer--block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  padding: 1.5em 0 0 0; }

.modal__footer--block .button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0; }

.modal--ghost {
  background-color: transparent;
  color: #FFFFFF; }

.modal--ghost .modal__heading {
  color: #FFFFFF; }

.modal--ghost .modal__footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.modal--high {
  box-shadow: 0 5px 5px -2px rgba(16, 20, 17, 0.4); }

.modal--higher {
  box-shadow: 0 10px 12px 0 rgba(16, 20, 17, 0.4); }

.modal--highest {
  box-shadow: 0 13px 16px 3px rgba(16, 20, 17, 0.4); }

.drawer {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #FFFFFF;
  color: #101411;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
  z-index: 500; }

.drawer--bottom {
  top: 100%;
  left: 0;
  height: auto;
  width: 80%;
  margin-left: 10%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.drawer--bottom.drawer--visible {
  -webkit-transform: translate3d(0, -99%, 0);
          transform: translate3d(0, -99%, 0); }

.drawer--top {
  bottom: 100%;
  left: 0;
  height: auto;
  width: 80%;
  margin-left: 10%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.drawer--top.drawer--visible {
  -webkit-transform: translate3d(0, 99%, 0);
          transform: translate3d(0, 99%, 0); }

.drawer--left {
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }

.drawer--left.drawer--visible {
  -webkit-transform: translate3d(-1%, 0, 0);
          transform: translate3d(-1%, 0, 0); }

.drawer--right {
  top: 0;
  left: 100%;
  height: 100%;
  width: 260px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.drawer--right.drawer--visible {
  -webkit-transform: translate3d(-99%, 0, 0);
          transform: translate3d(-99%, 0, 0); }

.drawer .heading {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  text-align: center; }

.drawer .menu {
  display: block;
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0; }

.drawer__body {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em; }

.drawer--high {
  box-shadow: 0 5px 5px -2px rgba(16, 20, 17, 0.4); }

.drawer--higher {
  box-shadow: 0 10px 12px 0 rgba(16, 20, 17, 0.4); }

.drawer--highest {
  box-shadow: 0 13px 16px 3px rgba(16, 20, 17, 0.4); }

.bubble {
  position: relative;
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #101411;
  color: #FFFFFF;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px; }

.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent; }

.bubble--top:after {
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  border-top-color: #101411; }

.bubble--right:after {
  top: 50%;
  left: -20px;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  border-right-color: #101411; }

.bubble--bottom:after {
  top: -20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  border-bottom-color: #101411; }

.bubble--left:after {
  top: 50%;
  right: -20px;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  border-left-color: #101411; }

.alerts {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%; }

.alerts__alert {
  position: relative;
  margin-bottom: 1em;
  padding: 1em 3em 1em 1em;
  color: #FFFFFF;
  background-color: #50535B;
  border-radius: 4px; }

.alerts__alert--primary {
  color: #FFFFFF;
  background-color: #42A5F5; }

.alerts__alert--secondary {
  color: #FFFFFF;
  background-color: #50535B; }

.alerts__alert--success {
  color: #FFFFFF;
  background-color: #66BB6A; }

.alerts__alert--error {
  color: #FFFFFF;
  background-color: #CC2C1E; }

.toasts {
  display: block;
  position: absolute;
  width: 250px;
  max-height: 100%;
  overflow-y: auto;
  background-color: transparent;
  z-index: 300; }

.toasts--topleft {
  top: 0;
  left: 0; }

.toasts--topright {
  top: 0;
  right: 0; }

.toasts--bottomleft {
  bottom: 0;
  left: 0; }

.toasts--bottomright {
  bottom: 0;
  right: 0; }

.toast {
  display: block;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em;
  background-color: #50535B;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer; }

.toast--primary {
  background-color: #42A5F5;
  color: #FFFFFF; }

.toast--secondary {
  background-color: #50535B;
  color: #FFFFFF; }

.toast--success {
  background-color: #66BB6A;
  color: #FFFFFF; }

.toast--error {
  background-color: #CC2C1E;
  color: #FFFFFF; }

.calendar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #ebecee;
  border-radius: 4px;
  max-width: 400px;
  z-index: 200; }

.calendar__control {
  background-color: #FFFFFF;
  color: #101411;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14.28%;
      -ms-flex: 0 0 14.28%;
          flex: 0 0 14.28%;
  max-width: 14.28%;
  margin: 0;
  outline: 0;
  display: inline;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.calendar__control:hover, .calendar__control:focus {
  background-color: white; }

.calendar__control:active, .calendar__control .button--active {
  background-color: #e8e8e8; }

.calendar__header {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.calendar__day {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14.28%;
      -ms-flex: 0 0 14.28%;
          flex: 0 0 14.28%;
  max-width: 14.28%;
  font-weight: bold; }

.calendar__date {
  background-color: #FFFFFF;
  color: #50535B;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14.28%;
      -ms-flex: 0 0 14.28%;
          flex: 0 0 14.28%;
  max-width: 14.28%;
  margin: 0;
  outline: 0;
  display: inline;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.calendar__date:hover, .calendar__date:focus {
  background-color: white; }

.calendar__date:active, .calendar__date .button--active {
  background-color: #e8e8e8; }

.calendar__date:hover {
  border: 1px solid #ebecee; }

.calendar__date--in-month {
  color: #101411; }

.calendar__date--today {
  border-color: #ebecee; }

.calendar__date--selected,
.calendar__date--selected:hover {
  background-color: #42A5F5;
  color: #FFFFFF;
  border-color: #42A5F5; }

.calendar__date--selected:hover, .calendar__date--selected:focus,
.calendar__date--selected:hover:hover,
.calendar__date--selected:hover:focus {
  background-color: #6ebaf7; }

.calendar__date--selected:active, .calendar__date--selected .button--active,
.calendar__date--selected:hover:active,
.calendar__date--selected:hover .button--active {
  background-color: #1690f3; }

.calendar--high {
  box-shadow: 0 5px 5px -2px rgba(16, 20, 17, 0.4); }

.calendar--higher {
  box-shadow: 0 10px 12px 0 rgba(16, 20, 17, 0.4); }

.calendar--highest {
  box-shadow: 0 13px 16px 3px rgba(16, 20, 17, 0.4); }

.letter-box--super {
  padding-top: 3em;
  padding-bottom: 3em; }

.letter-box--xlarge {
  padding-top: 2em;
  padding-bottom: 2em; }

.letter-box--large {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

.letter-box--medium {
  padding-top: 1em;
  padding-bottom: 1em; }

.letter-box--small {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.letter-box--xsmall {
  padding-top: 0.3em;
  padding-bottom: 0.3em; }

.letter-box--tiny {
  padding-top: 0.1em;
  padding-bottom: 0.1em; }

.letter-box--none {
  padding-top: 0;
  padding-bottom: 0; }

.pillar-box--super {
  padding-left: 3em;
  padding-right: 3em; }

.pillar-box--xlarge {
  padding-left: 2em;
  padding-right: 2em; }

.pillar-box--large {
  padding-left: 1.5em;
  padding-right: 1.5em; }

.pillar-box--medium {
  padding-left: 1em;
  padding-right: 1em; }

.pillar-box--small {
  padding-left: 0.5em;
  padding-right: 0.5em; }

.pillar-box--xsmall {
  padding-left: 0.3em;
  padding-right: 0.3em; }

.pillar-box--tiny {
  padding-left: 0.1em;
  padding-right: 0.1em; }

.pillar-box--none {
  padding-left: 0;
  padding-right: 0; }

.window-box--super {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 3em;
  padding-right: 3em; }

.window-box--xlarge {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em; }

.window-box--large {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em; }

.window-box--medium {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em; }

.window-box--small {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.window-box--xsmall {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em; }

.window-box--tiny {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em; }

.window-box--none {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

.site-wrapper {
  width: 100%;
  max-width: 64em;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 1em;
  padding-bottom: 3em; }

.header {
  width: 100%;
  margin: 3em 0; }

.header .heading {
  padding: 0; }

.header .heading--super {
  font-weight: bold;
  line-height: 1.2; }

.top-navigation {
  width: 100%;
  height: 70px;
  padding: 1em;
  border-bottom: 1px solid #ebecee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.top-navigation__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #101411;
  cursor: pointer; }

.top-navigation__logo:hover .top-navigation__logo__link, .top-navigation__logo:active .top-navigation__logo__link {
  opacity: 1;
  width: 25px;
  height: 25px; }

.top-navigation__logo__link {
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: #101411;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out; }

.top-navigation__title {
  padding: 0 0.5em !important;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold !important; }

.top-navigation__title a {
  text-decoration: none;
  color: #101411; }

.navigation {
  width: 220px;
  border-left: 1px solid #ebecee; }

.navigation .navigation__header {
  padding: 1em;
  height: 70px;
  text-align: right; }

.navigation .navigation__title {
  font-size: 1.5em;
  float: left;
  font-weight: bold;
  line-height: 1.2; }

.navigation .menu {
  padding: 1em;
  border: none; }

.navigation .menu__item {
  font-size: 1.5em;
  padding: 0;
  border: none; }

.navigation .menu__item:hover {
  cursor: initial !important; }

.navigation .subscribe {
  text-align: center; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  border-top: 1px solid #ebecee; }

.post-list__item {
  margin-bottom: 2em; }

.post-list__item .card__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }

.post-list__time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  padding: 1em;
  border-right: 1px solid #ebecee;
  text-align: center;
  line-height: 1.2; }

.post-list__content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em; }

.post-list__content .heading {
  padding: 0;
  margin: 0;
  font-weight: bold;
  line-height: 1.2; }

.post-list__tags {
  margin-bottom: 0.5em; }

.post-list__tags i, .post-list__tags a {
  vertical-align: middle; }

.post-list__tags i {
  font-size: 1em; }

.post time {
  vertical-align: middle; }

.post > .grid__cell {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding-top: 1em;
  padding-bottom: 1em; }

.post .heading {
  font-weight: bold; }

.post__header {
  margin-bottom: 1em; }

.post__author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.post__author span {
  padding-right: 1em; }

.post__author .author-thumbnail {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center; }

.post-template .ti-tag {
  color: black; }

.post-template .tag__close {
  top: 9px; }

.pagination__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.pagination__controls > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.pagination__prev {
  text-align: left; }

.pagination__next {
  text-align: right; }

.author-profile__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.author-profile__main .image {
  width: 75px;
  height: 75px;
  margin-right: 1.5em;
  border-radius: 50%;
  background-position: center;
  background-size: 100%; }

.author-profile__stats {
  margin-bottom: 1em;
  font-weight: bold; }
