@import "vars";
@import "boxing";

@mixin drawer {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: $color-white;
  color: $color-black;
  transition: transform 0.5s ease;
  z-index: $z-over-everything;
}

@mixin drawer--bottom {
  top: 100%;
  left: 0;
  height: auto;
  width: 80%;
  margin-left: 10%;
  transform: translate3d(0, 0, 0);
}

@mixin drawer--bottom--visible {
  transform: translate3d(0, -99%, 0);
}

@mixin drawer--top {
  bottom: 100%;
  left: 0;
  height: auto;
  width: 80%;
  margin-left: 10%;
  transform: translate3d(0, 0, 0);
}

@mixin drawer--top--visible {
  transform: translate3d(0, 99%, 0);
}

@mixin drawer--left {
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  transform: translate3d(-100%, 0, 0);
}

@mixin drawer--left--visible {
  transform: translate3d(-1%, 0, 0);
}

@mixin drawer--right {
  top: 0;
  left: 100%;
  height: 100%;
  width: 260px;
  transform: translate3d(0, 0, 0);
}

@mixin drawer--right--visible {
  transform: translate3d(-99%, 0, 0);
}

@mixin drawer__heading {
  @include window-box--medium;
  margin: 0;
  text-align: center;
}

@mixin drawer__menu {
  display: block;
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

@mixin drawer__body {
  @include window-box--medium;
}

@mixin drawer--high {
  box-shadow: $box-shadow-high;
}

@mixin drawer--higher {
  box-shadow: $box-shadow-higher;
}

@mixin drawer--highest {
  box-shadow: $box-shadow-highest;
}