@import "vars";
//@import "utils";

@mixin text {
  font-family: $text-font-family;
  font-weight: $text-font-weight;
  //@include u-size--medium;
  color: $color-black;
  line-height: $text-line-height;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@mixin text--mono {
  font-family: $text-font-family-mono;
}

@mixin text--highlight {
  background-color: $color-yellow;
  color: $color-black;
  padding: $spacing-xsmall $spacing-xsmall $spacing-tiny;
  margin: 0 -$spacing-tiny;
}

@mixin text--quiet {
  color: $color-default;
}

@mixin text--loud {
  font-weight: $text-font-weight-heavy;
}

@mixin text--help {
  cursor: help;
  border-bottom: 1px dashed $color-dark-grey;
}

@mixin text-size--super {
  font-size: $text-font-size * 3;
}

@mixin text-size--xlarge {
  font-size: $text-font-size * 2;
}

@mixin text-size--large {
  font-size: $text-font-size * 1.5;
}

@mixin text-size--medium {
  font-size: $text-font-size;
}

@mixin text-size--small {
  font-size: $text-font-size * .9;
}

@mixin text-size--xsmall {
  font-size: $text-font-size * .7;
}

@mixin paragraph {
  display: block;
  padding: $spacing-small 0;
  margin: 0;
  font-style: normal;
}

@mixin code {
  @include text--highlight;
  display: inline;
  background-color: $color-light-grey;
  font-family: $text-font-family-mono;
  font-weight: $text-font-weight;
}

@mixin code--multiline {
  display: block;
  white-space: pre;
  padding: $spacing-small $spacing-medium;
  overflow-x: auto;
  border-radius: $border-radius;
}

@mixin keyboard-keys {
  @include code;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 4px;
  border-bottom: 2px solid $color-darker-primary;
}

@mixin quotation {
  display: block;
  margin: 0;
  padding: $spacing-medium $spacing-large;
  border-left: 5px solid $color-grey;
  font-family: $text-font-family-serif;
}

@mixin quotation__body {
  @include paragraph;
  font-size: $text-font-size * 1.3;
}

@mixin quotation__footer {
  @include paragraph;
  @include text--quiet;
  font-style: italic;
}