// Screen Sizes
$screen-width-xsmall: 20em;
$screen-width-small: 30em;
$screen-width-medium: 48em;
$screen-width-large: 64em;
$screen-width-xlarge: 78em;
$screen-width-super: 116em;

// Spacing
$spacing-tiny: .1em;
$spacing-xsmall: .3em;
$spacing-small: .5em;
$spacing-medium: 1em;
$spacing-large: 1.5em;
$spacing-xlarge: 2em;
$spacing-super: 3em;

// Grid
$gutter: 1em;

// Colors
$color-black: #101411;
$color-white: #FFFFFF;
$color-red: #CC2C1E;
$color-pink: #EC65C3;
$color-purple: #AB47BC;
$color-blue: #42A5F5;
$color-green: #66BB6A;
$color-yellow: #F6ED30;
$color-orange: #FF7043;
$color-brown: #8D6E63;
$color-grey: #D3D4D8;

$color-tint: 9;

$color-dark-grey: darken($color-grey, $color-tint);
$color-dark-red: darken($color-red, $color-tint);
$color-dark-pink: darken($color-pink, $color-tint);
$color-dark-purple: darken($color-purple, $color-tint);
$color-dark-blue: darken($color-blue, $color-tint);
$color-dark-green: darken($color-green, $color-tint);
$color-dark-yellow: darken($color-yellow, $color-tint);
$color-dark-orange: darken($color-orange, $color-tint);
$color-dark-brown: darken($color-brown, $color-tint);

$color-darker-grey: #50535B;
$color-darker-red: darken($color-dark-red, $color-tint);
$color-darker-pink: darken($color-dark-pink, $color-tint);
$color-darker-purple: darken($color-dark-purple, $color-tint);
$color-darker-blue: darken($color-dark-blue, $color-tint);
$color-darker-green: darken($color-dark-green, $color-tint);
$color-darker-yellow: darken($color-dark-yellow, $color-tint);
$color-darker-orange: darken($color-dark-orange, $color-tint);
$color-darker-brown: darken($color-dark-brown, $color-tint);

$color-light-grey: lighten($color-grey, $color-tint);
$color-light-red: lighten($color-red, $color-tint);
$color-light-pink: lighten($color-pink, $color-tint);
$color-light-purple: lighten($color-purple, $color-tint);
$color-light-blue: lighten($color-blue, $color-tint);
$color-light-green: lighten($color-green, $color-tint);
$color-light-yellow: lighten($color-yellow, $color-tint);
$color-light-orange: lighten($color-orange, $color-tint);
$color-light-brown: lighten($color-brown, $color-tint);

$color-lighter-grey: lighten($color-light-grey, $color-tint);
$color-lighter-red: lighten($color-light-red, $color-tint);
$color-lighter-pink: lighten($color-light-pink, $color-tint);
$color-lighter-purple: lighten($color-light-purple, $color-tint);
$color-lighter-blue: lighten($color-light-blue, $color-tint);
$color-lighter-green: lighten($color-light-green, $color-tint);
$color-lighter-yellow: lighten($color-light-yellow, $color-tint);
$color-lighter-orange: lighten($color-light-orange, $color-tint);
$color-lighter-brown: lighten($color-light-brown, $color-tint);

$color-default: $color-darker-grey;
$color-primary: $color-blue;
$color-secondary: $color-darker-grey;
$color-success: $color-green;
$color-error: $color-red;

$color-dark-primary: darken($color-primary, $color-tint);
$color-darker-primary: darken($color-dark-primary, $color-tint);
$color-light-primary: lighten($color-primary, $color-tint);
$color-lighter-primary: lighten($color-light-primary, $color-tint);

$color-dark-secondary: darken($color-secondary, $color-tint);
$color-darker-secondary: darken($color-dark-secondary, $color-tint);
$color-light-secondary: lighten($color-secondary, $color-tint);
$color-lighter-secondary: lighten($color-light-secondary, $color-tint);

$color-dark-success: darken($color-success, $color-tint);
$color-darker-success: darken($color-dark-success, $color-tint);
$color-light-success: lighten($color-success, $color-tint);
$color-lighter-success: lighten($color-light-success, $color-tint);

$color-dark-error: darken($color-error, $color-tint);
$color-darker-error: darken($color-dark-error, $color-tint);
$color-light-error: lighten($color-error, $color-tint);
$color-lighter-error: lighten($color-light-error, $color-tint);

// Borders
$border-color: $color-light-grey;
$border-radius: 4px;

// Box shadows
$box-shadow-high: 0 5px 5px -2px transparentize($color-black, .6);
$box-shadow-higher: 0 10px 12px 0 transparentize($color-black, .6);
$box-shadow-highest: 0 13px 16px 3px transparentize($color-black, .6);

// Typography
$text-font-family: 'Source Sans Pro', -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$text-font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$text-font-family-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$text-font-size: 1em;
$text-font-weight: normal;
$text-font-weight-heavy: bold;
$text-line-height: 1.55;

// Z Indexes
$z-over-content: 100;
$z-over-control: 200;
$z-over-page: 300;
$z-over-screen: 400;
$z-over-everything: 500;

// Element Sizes
$navigation-height: 70px;