@import "mixins/vars";
@import "mixins/lists";
@import "mixins/typography";
@import "mixins/headings";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
}

hr {
  margin: $spacing-large;
  border: 0;
  border-top: 1px solid $color-light-grey;
}

i {
    font-size: 0.8em;
}

.post, .page {
  
    h1 {
        @include heading;
        @include heading--super;
    }
    
    h2 {
        @include heading;
        @include heading--xlarge;
    }
  
    h3 {
        @include heading;
        @include heading--large;
    }
    
    h4 {
        @include heading;
        @include heading--medium;
    }
    
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
    }
  
    pre {
        @include code;
        display: inline-block;
        padding: $spacing-medium;
    }

    blockquote {
        @include quotation;
    }

    ul, ol {
        @include list;
    }

    li {
        @include list__item;
    }

    code {
        background-color: $color-light-grey;
        color: $color-red;
        padding: 0 $spacing-xsmall;
    }
}
