@import "mixins/typography";

body {
  @include text;
}

.mono {
  @include text--mono;
}

.highlight {
  @include text--highlight;
}

.quiet {
  @include text--quiet;
}

.loud {
  @include text--loud;
}

.abbr[title] {
  @include text--help;
}

.pre {
  margin: 0;
}

.code {
  @include code;
}

.code--multiline {
  @include code--multiline;
}

.kbd {
  @include keyboard-keys;
}

.blockquote {
  @include quotation;
}

.blockquote__body {
  @include quotation__body;
}

.blockquote__footer {
  @include quotation__footer;
}

p, .paragraph {
  @include paragraph;
}